In [152]:
!pip install jovian --upgrade --quiet

In [153]:
import jovian

In [ ]:
# Execute this to save new versions of the notebook
jovian.commit(project="assigment03")

[jovian] Attempting to save notebook..

In [20]:
import pandas as pd

In [21]:
from urllib.request import urlretrieve

urlretrieve('https://hub.jovian.ml/wp-content/uploads/2020/09/countries.csv', 
            'countries.csv')

('countries.csv', <http.client.HTTPMessage at 0x188e32f00a0>)

In [22]:
countries_df = pd.read_csv('countries.csv')

In [23]:
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839
3,Andorra,Europe,77265.0,83.73,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775

### Q1

In [24]:
num_countries=countries_df.shape[0]

In [25]:
print('There are {} countries in the dataset'.format(num_countries))

There are 210 countries in the dataset

In [26]:
jovian.commit(project='assignment03', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "hepsisolmon13/assignment03" on https://jovian.ai/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ai/hepsisolmon13/assignment03

'https://jovian.ai/hepsisolmon13/assignment03'

### Q2

In [27]:
continents=pd.unique(countries_df["continent"])

In [28]:
continents

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [29]:
jovian.commit(project='assignment03', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "hepsisolmon13/assignment03" on https://jovian.ai/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ai/hepsisolmon13/assignment03

'https://jovian.ai/hepsisolmon13/assignment03'

In [30]:
total_population = countries_df["population"].sum()

In [31]:
total_population

7757980095.0

In [32]:
print('The total population is {}.'.format(int(total_population)))

The total population is 7757980095.

In [33]:
jovian.commit(project='assignment03', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "hepsisolmon13/assignment03" on https://jovian.ai/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ai/hepsisolmon13/assignment03

'https://jovian.ai/hepsisolmon13/assignment03'

###Q3

In [34]:
countries_df.isnull().sum()

location                       0
continent                      0
population                     0
life_expectancy                3
hospital_beds_per_thousand    46
gdp_per_capita                27
dtype: int64

In [35]:
# there are 3 null in life expectancy, we will replace the null with mean value
countries_df["life_expectancy"].fillna(countries_df["life_expectancy"].mean(),inplace = True)

In [36]:
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839
3,Andorra,Europe,77265.0,83.73,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775

In [38]:
countries_df["weighted_life_expectancy"]=countries_df["population"]*countries_df["life_expectancy"]

In [40]:
print('The  overall life expectancy across in the world {}.'.format(countries_df["weighted_life_expectancy"].sum()/len(countries_df["weighted_life_expectancy"])))

The  overall life expectancy across in the world 2687274318.9487233.

In [41]:
jovian.commit(project='assignment03', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "hepsisolmon13/assignment03" on https://jovian.ai/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ai/hepsisolmon13/assignment03

'https://jovian.ai/hepsisolmon13/assignment03'

In [43]:
most_populous=countries_df.nlargest(10,["population"])

In [45]:
most_populous

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,weighted_life_expectancy
41,China,Asia,1.439324e+09,76.91,4.34,15308.712,1.106984e+11
90,India,Asia,1.380004e+09,69.66,0.53,6426.674,9.613111e+10
199,United States,North America,3.310026e+08,78.86,2.77,54225.446,2.610287e+10
91,Indonesia,Asia,2.735236e+08,71.72,1.04,11188.744,1.961711e+10
145,Pakistan,Asia,2.208923e+08,67.27,0.60,5034.708,1.485943e+10
27,Brazil,South America,2.125594e+08,75.88,2.20,14103.452,1.612901e+10
141,Nigeria,Africa,2.061396e+08,54.69,NaN,5338.454,1.127377e+10
15,Bangladesh,Asia,1.646894e+08,72.59,0.80,3523.984,1.195480e+10
157,Russia,Europe,1.459345e+08,72.58,8.05,24765.954,1.059192e+10
125,Mexico,North America,1.289328e+08,75.05,1.38,17336.469,9.676403e+09

In [46]:
jovian.commit(project='assignment03', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "hepsisolmon13/assignment03" on https://jovian.ai/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ai/hepsisolmon13/assignment03

'https://jovian.ai/hepsisolmon13/assignment03'

In [47]:
countries_df["overall_gdp"]=countries_df["population"]*countries_df["gdp_per_capita"]

In [48]:
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,weighted_life_expectancy,overall_gdp
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,2.523724e+09,7.022622e+10
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,2.261087e+08,3.396791e+10
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,3.371268e+09,6.101364e+11
3,Andorra,Europe,77265.0,83.73,NaN,NaN,6.469398e+06,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,2.009772e+09,1.912651e+11
...,...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,7.339329e+09,6.007624e+11
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,4.196841e+07,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,1.972093e+09,4.411699e+10
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,1.174551e+09,6.782303e+10
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,9.139214e+08,2.823622e+10

In [49]:
jovian.commit(project='assignment03', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "hepsisolmon13/assignment03" on https://jovian.ai/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ai/hepsisolmon13/assignment03

'https://jovian.ai/hepsisolmon13/assignment03'

### Q: (Optional) Create a dataframe containing 10 countries with the lowest GDP per capita, among the counties with population greater than 100 million.

In [50]:
countries_df1=countries_df[countries_df["population"] > 1000000000 ]

In [51]:
countries_df1

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,weighted_life_expectancy,overall_gdp
41,China,Asia,1.439324e+09,76.91,4.34,15308.712,1.106984e+11,2.203419e+13
90,India,Asia,1.380004e+09,69.66,0.53,6426.674,9.613111e+10,8.868838e+12

#### There are only two countries in the dataset having populaton greater than 100 million

In [52]:
jovian.commit(project='assignment03', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "hepsisolmon13/assignment03" on https://jovian.ai/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ai/hepsisolmon13/assignment03

'https://jovian.ai/hepsisolmon13/assignment03'

**Q: Create a data frame that counts the number countries in each continent?**

*Hint: Use `groupby`, select the `location` column and aggregate using `count`.*

In [55]:
countries_counts = countries_df.groupby(["continent"]).size().to_frame().rename(columns={"continent":"continent",0:"count"})

In [56]:
countries_counts

               count
continent
Africa            55
Asia              47
Europe            51
North America     36
Oceania            8
South America     13

In [57]:
jovian.commit(project='assignment03', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "hepsisolmon13/assignment03" on https://jovian.ai/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ai/hepsisolmon13/assignment03

'https://jovian.ai/hepsisolmon13/assignment03'

**Q7: Create a data frame showing the total population of each continent.**

*Hint: Use `groupby`, select the population column and aggregate using `sum`.*

In [63]:
continent_populations_df = countries_df.groupby(["continent"]).sum().reset_index()[["continent","population"]]

In [64]:
continent_populations_df

       continent    population
0         Africa  1.339424e+09
1           Asia  4.607388e+09
2         Europe  7.485062e+08
3  North America  5.912425e+08
4        Oceania  4.095832e+07
5  South America  4.304611e+08

In [65]:
jovian.commit(project='assignment03', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "hepsisolmon13/assignment03" on https://jovian.ai/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ai/hepsisolmon13/assignment03

'https://jovian.ai/hepsisolmon13/assignment03'

In [66]:
urlretrieve('https://hub.jovian.ml/wp-content/uploads/2020/09/covid-countries-data.csv', 
            'covid-countries-data.csv')

('covid-countries-data.csv', <http.client.HTTPMessage at 0x188e3633bb0>)

In [67]:
covid_data_df = pd.read_csv('covid-countries-data.csv')

In [68]:
covid_data_df

           location  total_cases  total_deaths  total_tests
0       Afghanistan      38243.0        1409.0          NaN
1           Albania       9728.0         296.0          NaN
2           Algeria      45158.0        1525.0          NaN
3           Andorra       1199.0          53.0          NaN
4            Angola       2729.0         109.0          NaN
..              ...          ...           ...          ...
207  Western Sahara        766.0           1.0          NaN
208           World   26059065.0      863535.0          NaN
209           Yemen       1976.0         571.0          NaN
210          Zambia      12415.0         292.0          NaN
211        Zimbabwe       6638.0         206.0      97272.0

[212 rows x 4 columns]

**Q8: Count the number of countries for which the `total_tests` data is missing.**

*Hint: Use the `.isna` method.*

In [80]:
total_tests_missing=countries_df.isna().sum()['location']

In [81]:
print("The data for total tests is missing for {} countries.".format(int(total_tests_missing)))

The data for total tests is missing for 0 countries.

In [82]:
jovian.commit(project='assignment03', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "hepsisolmon13/assignment03" on https://jovian.ai/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ai/hepsisolmon13/assignment03

'https://jovian.ai/hepsisolmon13/assignment03'

Let's merge the two data frames, and compute some more metrics.

**Q9: Merge `countries_df` with `covid_data_df` on the `location` column.**

*Hint: Use the `.merge` method on `countries_df`.

In [83]:
combined_df=countries_df.merge(covid_data_df)

In [84]:
combined_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,weighted_life_expectancy,overall_gdp,total_cases,total_deaths,total_tests
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,2.523724e+09,7.022622e+10,38243.0,1409.0,NaN
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,2.261087e+08,3.396791e+10,9728.0,296.0,NaN
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,3.371268e+09,6.101364e+11,45158.0,1525.0,NaN
3,Andorra,Europe,77265.0,83.73,NaN,NaN,6.469398e+06,NaN,1199.0,53.0,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,2.009772e+09,1.912651e+11,2729.0,109.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,7.339329e+09,6.007624e+11,1046.0,35.0,261004.0
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,4.196841e+07,NaN,766.0,1.0,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,1.972093e+09,4.411699e+10,1976.0,571.0,NaN
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,1.174551e+09,6.782303e+10,12415.0,292.0,NaN
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,9.139214e+08,2.823622e+10,6638.0,206.0,97272.0

In [85]:
jovian.commit(project='assignment03', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "hepsisolmon13/assignment03" on https://jovian.ai/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ai/hepsisolmon13/assignment03

'https://jovian.ai/hepsisolmon13/assignment03'

In [110]:
combined_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,weighted_life_expectancy,overall_gdp,total_cases,total_deaths,total_tests
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,2.523724e+09,7.022622e+10,38243.0,1409.0,NaN
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,2.261087e+08,3.396791e+10,9728.0,296.0,NaN
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,3.371268e+09,6.101364e+11,45158.0,1525.0,NaN
3,Andorra,Europe,77265.0,83.73,NaN,NaN,6.469398e+06,NaN,1199.0,53.0,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,2.009772e+09,1.912651e+11,2729.0,109.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,7.339329e+09,6.007624e+11,1046.0,35.0,261004.0
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,4.196841e+07,NaN,766.0,1.0,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,1.972093e+09,4.411699e+10,1976.0,571.0,NaN
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,1.174551e+09,6.782303e+10,12415.0,292.0,NaN
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,9.139214e+08,2.823622e+10,6638.0,206.0,97272.0

**Q10: Add columns `tests_per_million`, `cases_per_million` and `deaths_per_million` into `combined_df`.**

In [111]:
combined_df["tests_per_million"]=combined_df["total_tests"]*10000000/combined_df["population"]

In [113]:
combined_df["cases_per_million"]=combined_df["total_cases"]*10000000/combined_df["population"]
combined_df["deaths_per_million"]=combined_df["total_deaths"]*10000000/combined_df["population"]

In [114]:
combined_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,weighted_life_expectancy,overall_gdp,total_cases,total_deaths,total_tests,tests_per_million,cases_per_million,deaths_per_million
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,2.523724e+09,7.022622e+10,38243.0,1409.0,NaN,NaN,9823.948059,361.947097
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,2.261087e+08,3.396791e+10,9728.0,296.0,NaN,NaN,33803.599972,1028.563486
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,3.371268e+09,6.101364e+11,45158.0,1525.0,NaN,NaN,10298.044678,347.768239
3,Andorra,Europe,77265.0,83.73,NaN,NaN,6.469398e+06,NaN,1199.0,53.0,NaN,NaN,155180.223905,6859.509480
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,2.009772e+09,1.912651e+11,2729.0,109.0,NaN,NaN,830.334615,33.164702
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,7.339329e+09,6.007624e+11,1046.0,35.0,261004.0,26814.033239,107.459958,3.595696
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,4.196841e+07,NaN,766.0,1.0,NaN,NaN,12823.732275,16.741165
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,1.972093e+09,4.411699e+10,1976.0,571.0,NaN,NaN,662.509931,191.443912
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,1.174551e+09,6.782303e+10,12415.0,292.0,NaN,NaN,6753.171080,158.834149
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,9.139214e+08,2.823622e+10,6638.0,206.0,97272.0,65446.059178,4466.145867,138.599887

In [115]:
jovian.commit(project='assignment03', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "hepsisolmon13/assignment03" on https://jovian.ai/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ai/hepsisolmon13/assignment03

'https://jovian.ai/hepsisolmon13/assignment03'

**Q11: Create a dataframe with 10 countires that have highest number of tests per million people.**

In [116]:
highest_tests_df = combined_df.nlargest(10,["tests_per_million"])

In [117]:
highest_tests_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,weighted_life_expectancy,overall_gdp,total_cases,total_deaths,total_tests,tests_per_million,cases_per_million,deaths_per_million
197,United Arab Emirates,Asia,9890400.0,77.97,1.200,67293.483,7.711545e+08,6.655595e+11,71540.0,387.0,7177430.0,7.256966e+06,72332.767128,391.288522
14,Bahrain,Asia,1701583.0,77.29,2.000,43290.705,1.315154e+08,7.366273e+10,52440.0,190.0,1118837.0,6.575271e+06,308183.614904,1116.607300
115,Luxembourg,Europe,625976.0,82.25,4.510,94277.965,5.148653e+07,5.901574e+10,7928.0,124.0,385820.0,6.163495e+06,126650.223012,1980.906616
122,Malta,Europe,441539.0,82.53,4.485,36513.323,3.644021e+07,1.612206e+10,1931.0,13.0,188539.0,4.270042e+06,43733.396144,294.424728
53,Denmark,Europe,5792203.0,80.90,2.500,46682.515,4.685892e+08,2.703946e+11,17195.0,626.0,2447911.0,4.226218e+06,29686.459539,1080.763226
96,Israel,Asia,8655541.0,82.97,2.990,33132.320,7.181502e+08,2.867782e+11,122539.0,969.0,2353984.0,2.719627e+06,141572.895328,1119.514078
89,Iceland,Europe,341250.0,82.99,2.910,46482.958,2.832034e+07,1.586231e+10,2121.0,10.0,88829.0,2.603048e+06,62153.846154,293.040293
157,Russia,Europe,145934460.0,72.58,8.050,24765.954,1.059192e+10,3.614206e+12,1005000.0,17414.0,37176827.0,2.547502e+06,68866.530907,1193.275392
199,United States,North America,331002647.0,78.86,2.770,54225.446,2.610287e+10,1.794877e+13,6114406.0,185744.0,83898416.0,2.534675e+06,184723.779565,5611.556333
10,Australia,Oceania,25499881.0,83.44,3.840,44648.710,2.127710e+09,1.138537e+12,25923.0,663.0,6255797.0,2.453265e+06,10165.929794,260.001213

In [118]:
jovian.commit(project='assignment03', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "hepsisolmon13/assignment03" on https://jovian.ai/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ai/hepsisolmon13/assignment03

'https://jovian.ai/hepsisolmon13/assignment03'

**Q12: Create a dataframe with 10 countires that have highest number of positive cases per million people.**

In [119]:
highest_cases_df = combined_df.nlargest(10,["cases_per_million"])

In [120]:
highest_cases_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,weighted_life_expectancy,overall_gdp,total_cases,total_deaths,total_tests,tests_per_million,cases_per_million,deaths_per_million
155,Qatar,Asia,2881060.0,80.23,1.20,116935.600,2.311474e+08,3.368985e+11,119206.0,199.0,634745.0,2.203165e+06,413757.436499,690.718000
14,Bahrain,Asia,1701583.0,77.29,2.00,43290.705,1.315154e+08,7.366273e+10,52440.0,190.0,1118837.0,6.575271e+06,308183.614904,1116.607300
147,Panama,North America,4314768.0,78.51,2.30,22267.037,3.387524e+08,9.607710e+10,94084.0,2030.0,336345.0,7.795205e+05,218051.121173,4704.772076
40,Chile,South America,19116209.0,80.18,2.11,22767.037,1.532738e+09,4.352194e+11,414739.0,11344.0,2458762.0,1.286218e+06,216956.719818,5934.230997
162,San Marino,Europe,33938.0,84.97,3.80,56861.470,2.883712e+06,1.929765e+09,735.0,42.0,NaN,NaN,216571.394897,12375.508280
9,Aruba,North America,106766.0,76.29,NaN,35973.781,8.145178e+06,3.840777e+09,2211.0,12.0,NaN,NaN,207088.398928,1123.953318
105,Kuwait,Asia,4270563.0,75.49,2.00,65530.537,3.223848e+08,2.798523e+11,86478.0,535.0,621616.0,1.455583e+06,202497.890793,1252.762224
150,Peru,South America,32971846.0,76.74,1.60,12236.706,2.530259e+09,4.034668e+11,663437.0,29259.0,584232.0,1.771912e+05,201213.180481,8873.934447
27,Brazil,South America,212559409.0,75.88,2.20,14103.452,1.612901e+10,2.997821e+12,3997865.0,123780.0,4797948.0,2.257227e+05,188082.241045,5823.313143
199,United States,North America,331002647.0,78.86,2.77,54225.446,2.610287e+10,1.794877e+13,6114406.0,185744.0,83898416.0,2.534675e+06,184723.779565,5611.556333

In [121]:
jovian.commit(project='assignment03', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "hepsisolmon13/assignment03" on https://jovian.ai/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ai/hepsisolmon13/assignment03

'https://jovian.ai/hepsisolmon13/assignment03'

**Q13: Create a dataframe with 10 countires that have highest number of deaths cases per million people?**

In [122]:
highest_deaths_df = combined_df.nlargest(10,["deaths_per_million"])

In [123]:
highest_deaths_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,weighted_life_expectancy,overall_gdp,total_cases,total_deaths,total_tests,tests_per_million,cases_per_million,deaths_per_million
162,San Marino,Europe,33938.0,84.97,3.80,56861.470,2.883712e+06,1.929765e+09,735.0,42.0,NaN,NaN,216571.394897,12375.508280
150,Peru,South America,32971846.0,76.74,1.60,12236.706,2.530259e+09,4.034668e+11,663437.0,29259.0,584232.0,1.771912e+05,201213.180481,8873.934447
18,Belgium,Europe,11589616.0,81.63,5.64,42658.576,9.460604e+08,4.943965e+11,85817.0,9898.0,2281853.0,1.968877e+06,74046.456759,8540.403755
3,Andorra,Europe,77265.0,83.73,NaN,NaN,6.469398e+06,NaN,1199.0,53.0,NaN,NaN,155180.223905,6859.509480
177,Spain,Europe,46754783.0,83.56,2.97,34272.360,3.906830e+09,1.602397e+12,479554.0,29194.0,6416533.0,1.372380e+06,102567.901983,6244.067051
198,United Kingdom,Europe,67886004.0,81.32,2.54,39753.244,5.520490e+09,2.698689e+12,338676.0,41514.0,13447568.0,1.980904e+06,49888.928504,6115.251680
40,Chile,South America,19116209.0,80.18,2.11,22767.037,1.532738e+09,4.352194e+11,414739.0,11344.0,2458762.0,1.286218e+06,216956.719818,5934.230997
97,Italy,Europe,60461828.0,83.51,3.18,35220.084,5.049167e+09,2.129471e+12,271515.0,35497.0,5214766.0,8.624890e+05,44906.846019,5870.976974
27,Brazil,South America,212559409.0,75.88,2.20,14103.452,1.612901e+10,2.997821e+12,3997865.0,123780.0,4797948.0,2.257227e+05,188082.241045,5823.313143
182,Sweden,Europe,10099270.0,82.80,2.22,46949.283,8.362196e+08,4.741535e+11,84532.0,5820.0,NaN,NaN,83701.099188,5762.792756

In [124]:
jovian.commit(project='assignment03', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "hepsisolmon13/assignment03" on https://jovian.ai/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ai/hepsisolmon13/assignment03

'https://jovian.ai/hepsisolmon13/assignment03'

**(Optional) Q: Count number of countries that feature in both the lists "20 countries with lowest GDP per capita" and "20 countries with the lowest number of hospital beds per thousand population". Only consider countries with a population higher than 10 million while creating the list.**

In [129]:
combined_df_extra=combined_df[combined_df["population"]>100000000]

In [130]:
combined_df_extra

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,weighted_life_expectancy,overall_gdp,total_cases,total_deaths,total_tests,tests_per_million,cases_per_million,deaths_per_million
15,Bangladesh,Asia,1.646894e+08,72.59,0.80,3523.984,1.195480e+10,5.803628e+11,317528.0,4351.0,1514126.0,9.193829e+04,19280.417123,264.194323
27,Brazil,South America,2.125594e+08,75.88,2.20,14103.452,1.612901e+10,2.997821e+12,3997865.0,123780.0,4797948.0,2.257227e+05,188082.241045,5823.313143
41,China,Asia,1.439324e+09,76.91,4.34,15308.712,1.106984e+11,2.203419e+13,89953.0,4727.0,NaN,NaN,624.967097,32.841811
58,Egypt,Africa,1.023344e+08,71.99,1.60,10550.206,7.367054e+09,1.079649e+12,99280.0,5461.0,NaN,NaN,9701.527257,533.642630
63,Ethiopia,Africa,1.149636e+08,66.60,0.30,1729.927,7.656575e+09,1.988786e+11,54409.0,846.0,869430.0,7.562656e+04,4732.716098,73.588521
90,India,Asia,1.380004e+09,69.66,0.53,6426.674,9.613111e+10,8.868838e+12,3853406.0,67376.0,44337201.0,3.212830e+05,27923.143157,488.230333
91,Indonesia,Asia,2.735236e+08,71.72,1.04,11188.744,1.961711e+10,3.060386e+12,180646.0,7616.0,1312477.0,4.798405e+04,6604.402184,278.440303
99,Japan,Asia,1.264765e+08,84.63,13.05,39002.223,1.070370e+10,4.932863e+12,69599.0,1319.0,1816394.0,1.436152e+05,5502.921342,104.288183
125,Mexico,North America,1.289328e+08,75.05,1.38,17336.469,9.676403e+09,2.235239e+12,610957.0,65816.0,1271295.0,9.860140e+04,47385.709665,5104.676544
141,Nigeria,Africa,2.061396e+08,54.69,NaN,5338.454,1.127377e+10,1.100467e+12,54463.0,1027.0,405916.0,1.969132e+04,2642.044684,49.820610
145,Pakistan,Asia,2.208923e+08,67.27,0.60,5034.708,1.485943e+10,1.112128e+12,297014.0,6328.0,2662508.0,1.205342e+05,13446.098317,286.474409
151,Philippines,Asia,1.095811e+08,71.23,1.00,7599.188,7.805461e+09,8.327273e+11,226440.0,3623.0,2403510.0,2.193362e+05,20664.150204,330.622753
157,Russia,Europe,1.459345e+08,72.58,8.05,24765.954,1.059192e+10,3.614206e+12,1005000.0,17414.0,37176827.0,2.547502e+06,68866.530907,1193.275392
199,United States,North America,3.310026e+08,78.86,2.77,54225.446,2.610287e+10,1.794877e+13,6114406.0,185744.0,83898416.0,2.534675e+06,184723.779565,5611.556333

In [133]:
combines_df11=combined_df.nsmallest(20,["gdp_per_capita"])
combines_df11

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,weighted_life_expectancy,overall_gdp,total_cases,total_deaths,total_tests,tests_per_million,cases_per_million,deaths_per_million
38,Central African Republic,Africa,4829764.0,53.28,1.0,661.240,2.573298e+08,3.193633e+09,4712.0,62.0,NaN,NaN,9756.170281,128.370662
32,Burundi,Africa,11890781.0,61.58,0.8,702.225,7.322343e+08,8.350004e+09,448.0,1.0,NaN,NaN,376.762468,0.840988
111,Liberia,Africa,5057677.0,64.10,0.8,752.788,3.241971e+08,3.807359e+09,1305.0,82.0,NaN,NaN,2580.235946,162.129768
52,Democratic Republic of Congo,Africa,89561404.0,60.68,NaN,808.133,5.434586e+09,7.237753e+10,10113.0,258.0,NaN,NaN,1129.169436,28.807052
140,Niger,Africa,24206636.0,62.42,0.3,926.000,1.510978e+09,2.241534e+10,1177.0,69.0,NaN,NaN,486.230305,28.504580
118,Malawi,Africa,19129955.0,64.26,1.3,1095.042,1.229291e+09,2.094810e+10,5579.0,175.0,NaN,NaN,2916.368596,91.479567
132,Mozambique,Africa,31255435.0,60.85,0.7,1136.103,1.901893e+09,3.550939e+10,4117.0,25.0,NaN,NaN,1317.210911,7.998609
168,Sierra Leone,Africa,7976985.0,54.70,NaN,1390.300,4.363411e+08,1.109040e+10,2029.0,71.0,NaN,NaN,2543.567526,89.006059
43,Comoros,Africa,869595.0,64.32,2.2,1413.890,5.593235e+07,1.229512e+09,427.0,7.0,NaN,NaN,4910.331821,80.497243
117,Madagascar,Africa,27691019.0,67.04,0.2,1416.440,1.856406e+09,3.922267e+10,15023.0,196.0,NaN,NaN,5425.224691,70.781072
190,Togo,Africa,8278737.0,61.04,0.7,1429.813,5.053341e+08,1.183705e+10,1434.0,30.0,54709.0,66083.751664,1732.148273,36.237412
207,Yemen,Asia,29825968.0,66.12,0.7,1479.147,1.972093e+09,4.411699e+10,1976.0,571.0,NaN,NaN,662.509931,191.443912
61,Eritrea,Africa,3546427.0,66.32,0.7,1510.459,2.351990e+08,5.356733e+09,319.0,0.0,NaN,NaN,899.496874,0.000000
83,Guinea-Bissau,Africa,1967998.0,58.32,NaN,1548.675,1.147736e+08,3.047789e+09,2205.0,34.0,NaN,NaN,11204.279679,172.764403
71,Gambia,Africa,2416664.0,62.05,1.1,1561.767,1.499540e+08,3.774266e+09,3067.0,97.0,NaN,NaN,12691.048487,401.379753
176,South Sudan,Africa,11193729.0,57.85,NaN,1569.888,6.475572e+08,1.757290e+10,2532.0,47.0,NaN,NaN,2261.980793,41.987795
85,Haiti,North America,11402533.0,64.00,0.7,1653.173,7.297621e+08,1.885036e+10,8258.0,206.0,NaN,NaN,7242.250472,180.661613
195,Uganda,Africa,45741000.0,63.37,0.5,1697.707,2.898607e+09,7.765482e+10,3112.0,32.0,381749.0,83458.822501,680.352419,6.995912
31,Burkina Faso,Africa,20903278.0,61.58,0.4,1703.102,1.287224e+09,3.560041e+10,1378.0,55.0,NaN,NaN,659.226749,26.311663
63,Ethiopia,Africa,114963583.0,66.60,0.3,1729.927,7.656575e+09,1.988786e+11,54409.0,846.0,869430.0,75626.557325,4732.716098,73.588521

In [134]:
countries_counts = combines_df11.groupby(["location"]).size().to_frame().rename(columns={"continent":"continent",0:"count"})

In [135]:
countries_counts

                              count
location
Burkina Faso                      1
Burundi                           1
Central African Republic          1
Comoros                           1
Democratic Republic of Congo      1
Eritrea                           1
Ethiopia                          1
Gambia                            1
Guinea-Bissau                     1
Haiti                             1
Liberia                           1
Madagascar                        1
Malawi                            1
Mozambique                        1
Niger                             1
Sierra Leone                      1
South Sudan                       1
Togo                              1
Uganda                            1
Yemen                             1

In [136]:
combines_df12=combined_df.nsmallest(20,["hospital_beds_per_thousand"])
combines_df12

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,weighted_life_expectancy,overall_gdp,total_cases,total_deaths,total_tests,tests_per_million,cases_per_million,deaths_per_million
121,Mali,Africa,2.025083e+07,59.31,0.10,2014.306,1.201077e+09,4.079138e+10,2802.0,126.0,NaN,NaN,1383.646718,62.219660
117,Madagascar,Africa,2.769102e+07,67.04,0.20,1416.440,1.856406e+09,3.922267e+10,15023.0,196.0,NaN,NaN,5425.224691,70.781072
63,Ethiopia,Africa,1.149636e+08,66.60,0.30,1729.927,7.656575e+09,1.988786e+11,54409.0,846.0,869430.0,75626.557325,4732.716098,73.588521
82,Guinea,Africa,1.313279e+07,61.60,0.30,1998.926,8.089800e+08,2.625148e+10,9479.0,59.0,NaN,NaN,7217.810196,44.925710
135,Nepal,Asia,2.913681e+07,70.78,0.30,2442.804,2.062303e+09,7.117551e+10,41649.0,251.0,705560.0,242154.185180,14294.290576,86.145332
140,Niger,Africa,2.420664e+07,62.42,0.30,926.000,1.510978e+09,2.241534e+10,1177.0,69.0,NaN,NaN,486.230305,28.504580
31,Burkina Faso,Africa,2.090328e+07,61.58,0.40,1703.102,1.287224e+09,3.560041e+10,1378.0,55.0,NaN,NaN,659.226749,26.311663
0,Afghanistan,Asia,3.892834e+07,64.83,0.50,1803.987,2.523724e+09,7.022622e+10,38243.0,1409.0,NaN,NaN,9823.948059,361.947097
20,Benin,Africa,1.212320e+07,61.77,0.50,2064.236,7.488499e+08,2.502514e+10,2194.0,40.0,NaN,NaN,1809.753499,32.994594
195,Uganda,Africa,4.574100e+07,63.37,0.50,1697.707,2.898607e+09,7.765482e+10,3112.0,32.0,381749.0,83458.822501,680.352419,6.995912
90,India,Asia,1.380004e+09,69.66,0.53,6426.674,9.613111e+10,8.868838e+12,3853406.0,67376.0,44337201.0,321283.044329,27923.143157,488.230333
80,Guatemala,North America,1.791557e+07,74.30,0.60,7423.808,1.331127e+09,1.330017e+11,75664.0,2790.0,NaN,NaN,42233.661932,1557.304885
145,Pakistan,Asia,2.208923e+08,67.27,0.60,5034.708,1.485943e+10,1.112128e+12,297014.0,6328.0,2662508.0,120534.198175,13446.098317,286.474409
61,Eritrea,Africa,3.546427e+06,66.32,0.70,1510.459,2.351990e+08,5.356733e+09,319.0,0.0,NaN,NaN,899.496874,0.000000
85,Haiti,North America,1.140253e+07,64.00,0.70,1653.173,7.297621e+08,1.885036e+10,8258.0,206.0,NaN,NaN,7242.250472,180.661613
86,Honduras,North America,9.904608e+06,75.27,0.70,4541.795,7.455198e+08,4.498470e+10,62526.0,1924.0,NaN,NaN,63128.192453,1942.530184
132,Mozambique,Africa,3.125544e+07,60.85,0.70,1136.103,1.901893e+09,3.550939e+10,4117.0,25.0,NaN,NaN,1317.210911,7.998609
187,Tanzania,Africa,5.973421e+07,65.46,0.70,2683.304,3.910202e+09,1.602851e+11,509.0,21.0,NaN,NaN,85.210799,3.515573
190,Togo,Africa,8.278737e+06,61.04,0.70,1429.813,5.053341e+08,1.183705e+10,1434.0,30.0,54709.0,66083.751664,1732.148273,36.237412
207,Yemen,Asia,2.982597e+07,66.12,0.70,1479.147,1.972093e+09,4.411699e+10,1976.0,571.0,NaN,NaN,662.509931,191.443912

In [137]:
countries_counts_2 = combines_df12.groupby(["location"]).size().to_frame().rename(columns={"continent":"location",0:"count"})

In [138]:
countries_counts_2

              count
location
Afghanistan       1
Benin             1
Burkina Faso      1
Eritrea           1
Ethiopia          1
Guatemala         1
Guinea            1
Haiti             1
Honduras          1
India             1
Madagascar        1
Mali              1
Mozambique        1
Nepal             1
Niger             1
Pakistan          1
Tanzania          1
Togo              1
Uganda            1
Yemen             1

In [145]:
combined_df_extra1=pd.merge(countries_counts,countries_counts_2, how='inner',on='location')

In [146]:
combined_df_extra1

              count_x  count_y
location
Burkina Faso        1        1
Eritrea             1        1
Ethiopia            1        1
Haiti               1        1
Madagascar          1        1
Mozambique          1        1
Niger               1        1
Togo                1        1
Uganda              1        1
Yemen               1        1

In [147]:
combined_df=pd.merge(combined_df_extra,combined_df_extra1,how='inner',on='location')

In [148]:
combined_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,weighted_life_expectancy,overall_gdp,total_cases,total_deaths,total_tests,tests_per_million,cases_per_million,deaths_per_million,count_x,count_y
0,Ethiopia,Africa,114963583.0,66.6,0.3,1729.927,7.656575e+09,1.988786e+11,54409.0,846.0,869430.0,75626.557325,4732.716098,73.588521,1,1

In [149]:
import jovian

In [150]:
jovian.commit(project='assignment03', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "hepsisolmon13/assignment03" on https://jovian.ai/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ai/hepsisolmon13/assignment03

'https://jovian.ai/hepsisolmon13/assignment03'

In [151]:
jovian.submit(assignment="zero-to-pandas-a3")

[jovian] Attempting to save notebook..
[jovian] Updating notebook "hepsisolmon13/assignment03" on https://jovian.ai/
[jovian] Uploading notebook..
[jovian] Capturing environment..

[jovian] Error: Failed to read Anaconda environment using command: "conda env export -n C:\Users\hepsi priya\desktop\sample_project\env --no-builds"

[jovian] Committed successfully! https://jovian.ai/hepsisolmon13/assignment03
[jovian] Submitting assignment..
[jovian] Verify your submission at https://jovian.ai/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice